<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styleAbout.css">
    <title>About</title>
</head>

<nav id="nav-list">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
    </ul>
</nav>

<body>
    <h1>Who is Lewis Capaldi?</h1>
    <div id="biography">
        <div id="brief">
            <h2>Briefing</h2>
            <p1>
                Lewis Marc Capaldi (born 7 October 1996) is a Scottish singer-songwriter and musician.
                He was nominated for the Critics' Choice Award at the 2019 Brit Awards. Capaldi also won the 2020 Brit
                Award
                for Best New Artist. In March 2019, his single "Someone You Loved" (2018) topped the UK Singles Chart
                where
                it remained for seven
                weeks, and in November 2019, it reached number one on the US Billboard Hot 100; it was nominated at the
                62nd
                Annual Grammy Awards for
                Song of the Year and won the 2020 Brit Award for Song of the Year. "Someone You Loved" was the
                bestselling
                single of 2019 in the UK. In May 2020, it was announced that
                Capaldi's song "Someone You Loved" had become the longest-running top 10 UK
                single of all time by a British artist.

                On 17 May 2019, he released his debut album, Divinely Uninspired to a Hellish Extent, which remained at
                the
                top of the UK Albums Chart for six weeks.
                It later went on to become the best-selling album of 2019 and 2020 in the UK. His second album Broken by
                Desire to Be Heavenly Sent (2023) was supported by the lead single "Forget Me",
                released in 2022.
                </p>
                <h2>Early Life</h2>
                <p2>
                    Capaldi was born in Glasgow, Scotland, and lived there until he was 4 years old, when his family
                    moved to East Whitburn in West Lothian. Capaldi is of Scottish, Irish and Italian ancestry. He is
                    the youngest of four children. His mother becoming pregnant with Lewis came as a surprise to his
                    family,
                    being called a sort of "immaculate conception", because his father had had a vasectomy. Capaldi's
                    passion for performing started after he sang on stage at the age of 4 on a family trip in France. He
                    learned how to play guitar when he was nine. Soon, he began writing songs, and playing gigs by
                    sneaking into pubs with the help of his eldest brother.
                    </p>
        </div>

        <div id="images">
            <img src="./images/Lewis-Capaldi-6.jpeg" alt="1" width="500px" height="auto">
            <img src="./images/Lewis-Capaldi-7.jpeg" alt="1" width="500px" height="auto">
        </div>
    </div>


</body>

</html>