<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styleIndex.css" />
    <title>Home</title>
</head>

<nav id="nav-list">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
    </ul>
  </nav>

<body>
    <h1>Lewis Capaldi</h1>
    <div id="celebrity">
        <img src="./images/Lewis-Capaldi-1.avif" alt="1" width="90px" height="auto">
        <img src="./images/Lewis-Capaldi-2.jpeg" alt="2" width="90px" height="auto">
        <img src="./images/Lewis-Capaldi-3.avif" alt="3" width="90px" height="auto">
        <img src="./images/Lewis-Capaldi-4.jpeg" alt="4" width="90px" height="auto">
        <img src="./images/Lewis-Capaldi-5.jpeg" alt="5" width="90px" height="auto">
    </div>
    <div id="name-info">
    <h2>Singer-Songwriter</h2>
<article id="info">27 years old - 33M Spotify Monthly Listeners - Scottish</article>
    </div>
</body>

</html>