<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styleWorks.css">
    <title>Works</title>
</head>

<nav id="nav-list">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
    </ul>
  </nav>

<body>
    <h1>Discography</h1>

    <div id="discs">
    <div id="discOne">
        <h2>Divinely Uninspired to a Hellish Extent (2019)</h2>
        <img src="./images/disc1-Lewis.jpeg" alt="1">
        <ol id="disc1">
            <li>Grace</li>
            <li>Bruises</li>
            <li>Hold Me While You Wait</li>
            <li>Someone You Loved</li>
            <li>Maybe</li>
            <li>Forever</li>
            <li>One</li>
            <li>Dont Get Me Wrong</li>
            <li>Hollywood</li>
            <li>Lost On You</li>
            <li>Fade</li>
            <li>Headspace</li>
            <li>Before You Go</li>
            <li>Leaving My Love Behind</li>
            <li>Let It Roll</li>
        </ol>
    </div>

    <div id="discTwo">
        <h2>Broken by Desire to Be Heavenly Sent (2023)</h2>
        <img src="./images/disc2-Lewis.jpeg" alt="1">
        <ol id="disc2">
            <li>Forget Me</li>
            <li>Wish You The Best</li>
            <li>Pointless</li>
            <li>Heavenly Kind of State of Mind</li>
            <li>Havent You Ever Been In Love Before?</li>
            <li>Love the Hell Out of You</li>
            <li>Burning</li>
            <li>Any Kind of Life</li>
            <li>The Pretender</li>
            <li>Leave Me Slowly</li>
            <li>How This Ends</li>
            <li>How Im Feeling Now</li>
            <li>Strangers</li>
            <li>A Cure for Minds Unwell</li>
            <li>Someone I Could Die For</li>
            <li>The Ancient Art of Always Fucking Up</li>
            <li>Old Navy Blue</li>
        </ol>
    </div>
</div>
</body>

</html>